body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222;
  overflow: hidden;
}

.worm {
  display: flex;
  align-items: center;
  justify-content: center;
}

.worm span {
  position: absolute;
  --diameter: calc(100vmin - var(--n) * 90vmin / var(--particles));
  width: var(--diameter);
  height: var(--diameter);
  background-color: coral;
  border-radius: 50%;
  border: 3px solid;
  border-color: tomato;
  box-shadow: 0 0 33px rgba(0, 0, 0, 0.3);
  animation: rotating 4s infinite cubic-bezier(0.6, -0.5, 0.3, 1.5);
  animation-delay: calc(1s - var(--n) * 0.1s);
}

@keyframes rotating {
  from {
    transform-origin: 0;
  }

  to {
    transform-origin: 0 50%;
    transform: rotate(1turn);
  }
}
